.breadcrumbs
  background-color: $grey
  padding-top: 25px
  padding-bottom: 25px
  margin-bottom: 70px
  &__list
    display: flex
    align-items: center
    font-family: "Raleway-Regular"
    font-weight: 400
    font-size: 14px
    line-height: 16px
    a
      color: $bll
      transition: color 0.3s ease
    &:last-child
      color: $black
      // &:not(:last-child)
      //   &::after
      //     content: ' /'
      //     margin-right: 4px
      // a
      //   color: inherit
