.cart
  margin-bottom: 60px
  &__heading
    margin-bottom: 55px
  &__wrap
    display: flex
    justify-content: space-between
    align-items: flex-start

  &__info
    width: 730px
  &__icon
    width: 25px
    height: 25px
  &__table
    thead
      padding-bottom: 20px
      border-style: none
      border-bottom: 1px solid $table
      tr
        border-style: none
      th
        position: relative
        //font-family: "MuseoSansCyrl-500"
        font-weight: 500
        font-size: 18px
        line-height: 24px
        text-align: center
        color: $black
        // border-bottom: none
        padding: 10px
        &:nth-child(n+4)
          &::before
            content: ''
            position: absolute
            display: block
            top: 0
            left: 0
            height: 100%
            width: 1px
            background-color: $table
    tbody
      tr
        border-style: none
        border-color: transparent
        // padding-top: 25px
      td
        position: relative
        // padding: 25px
        vertical-align: middle
        text-align: center
        font-family: "Montserrat"
        font-weight: 500
        font-size: 16px
        line-height: 18px
        color: $black
        padding: 10px
        &:first-child
          padding: 0
        &:nth-child(n+4)
          &::before
            position: absolute
            content: ''
            // display: block
            top: 50%
            transform: translateY(-50%)
            left: 0
            height: 40px
            width: 1px
            background-color: $table
        a
          transition: color 0.3s
        & .good__quant
          width: 100px
        & .good__quant input[type="number"]
          width: 95px
          height: 40px
        & .good__quant-plus
          left: 70px
        & .good-info__btn-quantity
          box-shadow: none
          border: 1px solid $table
          font-size: 16px
        & .good__quant-btn
          border: 1px solid $table
          border-radius: 2px
    &-footer
      border-top: 1px solid $table
      // display: flex
      font-family: 'Raleway', sans-serif
      font-weight: 400
      // justify-content: space-between
      padding-top: 15px
      // font-size: 16px
      color: $black
      a
        transition: color 0.3s
      &--shop
        font-size: 18px
      td.text-end
        padding-top: 20px

  &__total
    width: 380px
    background-color: $grey
    border-radius: 5px
    padding: 35px 25px
    flex-shrink: 0
    &-data
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      padding: 5px 10px
      border-bottom: 1px solid rgba($bll, 0.8)
      font-family: 'Montserrat', sans-serif
      font-weight: 700
      font-size: 18px
      line-height: 24px
      color: $black
    &-all
      display: flex
      justify-content: space-between
      margin: 40px 5px
      font-family: 'Montserrat', sans-serif
      font-weight: 700
      font-size: 24px
      line-height: 32px
      color: $black
    &-divider
      background-color: rgba(53, 64, 83, 0.5)
      height: 1px
      margin-bottom: 25px
    &-right
      font-weight: 300
      font-size: 16px
    &-btn
      display: block
      text-align: center
      background-color: $red
      border-radius: 5px
      width: 100%
      color: $bgc
      padding: 16px
      text-transform: uppercase
      font-family: "Raleway", sans-serif
      font-weight: 700
      font-size: 18px
      line-height: 24px
      letter-spacing: 0.2px
      transition: background-color 0.3s
      outline: none
      border: 1px solid #ed2228
  &__update
    margin-top: 30px
    text-align: right
    // width: 100px
    &-btn
      background-color: $red
      border-radius: 5px
      color: $bgc
      padding: 10px 20px
      font-family: "Raleway", sans-serif
      font-weight: 300
      font-size: 18px
      line-height: 22px
      letter-spacing: 0.2px
      border: 1px solid $red
      transition: background-color 0.3s ease, border 0.3s
      &:disabled
        background-color: transparent
        color: $bll
        cursor: not-allowed

