.category
  background: $grey url(../images/icons/icons.svg#engine) no-repeat center center
  background-size: cover
  padding: 50px 0
  margin-bottom: 100px
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 25px
  &__title
    position: relative
  &__button
    padding: 0 46px 0 32px
    height: 56px
    &::before
      top: 23px
  &__list
    display: flex
    // justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__item
    display: flex
    align-items: center
    width: 366px
    height: 107px
    background: $bgc
    color: $bl
    border-radius: 3px
    padding-left: 25px
    padding-right: 23px
    margin-bottom: 20px
    transition: all 0.3s
    &:not(:nth-child(3n+3))
      margin-right: 20px
  &__img
    height: 85px
    width: 97px
  &__image
    height: 100%
    width: 100%
    object-fit: cover
  &__link
    margin-left: 55px
    @extend %text-title
    font-weight: 700
    color: inherit
