@media ( min-width: 992px )
  .menu
    &__link
      &::before
        content: ''
        position: absolute
        width: 0
        left: auto
        background-color: $bl
        height: 2px
        bottom: -10px
        right: 0
        transition: all .3s
      &:hover
        color: $bl
        &::before
          width: 100%
          right: auto
          left: 0

  .navbar
    &__phone
      &:hover
        transition: all .2s
        color: $red
    &__link
      &:hover
        transition: all .3s
        color: $red

  .button--entry
    &:hover
      transition: all .3s
      color: $red

  .breadcrumbs__list-item
    a
      &:hover
        transition: all .3s
        color: $bl

  .category-top
    &__link
      &:hover
        transition: all .3s
        color: $bgc
    &__item
      &:hover
        transition: all .3s
        background-color: $red

  .category
    &__item
      &:hover
        transition: all 0.3s
        transform: scale(1.02)
        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15))
        background-color: $red
        color: $bgc
    &__link
      &:hover
        transition: all .3s
        color: $bgc

  .link__button
    &:hover
      transition: all 0.3s
      color: $bgc
      //filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15))
      &::before
        transition: all 0.3s
        right: 22px

  .favorites
    &__item
      &:hover
        transition: all 0.3s
        filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15))
        color: $red
    &-goods__item
      &:hover
        transition: all 0.3s
        filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15))
        color: $red
    &__image
      &:hover
        // transition: all 1s
        // transform: scale(1.1)
    &__button
      &:hover
        transition: all 0.3s
        background: $red url('../images/icons/icons.svg#cart-white') no-repeat center center
        width: 36px
        height: 36px
  .favorites__item:hover .favorites__title, .favorites__item:hover .favorites__price, .favorites-goods__item:hover .favorites__title
    transition: all 0.3s
    color: $red
  .favorites__nav--left.swiper-button-prev:hover
    transition: background-color 1s ease-out
    background-color: $red
    border-radius: 50%
  .favorites__nav--left.swiper-button-prev:hover::after
    color: $bgc
  .favorites__nav--right.swiper-button-next:hover
    transition: background-color 1s ease-out
    background-color: $red
    border-radius: 50%
  .favorites__nav--right.swiper-button-next:hover::after
    color: $bgc

  .news
    &__item:hover .news__img
      transition: all 1.5s
      transform: scale(1.2)
      // color: $red
    &__link
      &:hover
        color: $red
        &::before
          transition: all 0.3s
          right: -20px
    &__button
      &:hover
        &::before
          right: 18px

  .good
    &-photos__big
      &:hover
        border: 2px solid rgba(237, 34, 40, 1)
    &-photos__small
      &:hover
        border: 2px solid rgba(237, 34, 40, 1)
    &-photos__img
      &:hover
        transform: scale(1.02)
    &-info__brend-link
      &::before
        content: ''
        position: absolute
        width: 0
        left: auto
        background-color: $red
        height: 2px
        bottom: -3px
        right: 0
        transition: all .3s
      &:hover
        color: $red
        &::before
          width: 100%
          right: auto
          left: 0
    &-info__btn-cart
      &:hover
        &::before
          transition: all 1s
          transform: scale(1.10)

  .catalog
    &__filter-item button
      &:hover
        background: $grey
  .pagination-list__item a
    &:hover
      color: $red

  .footer
    &__link
      &:hover
        color: $red
    &__social-link
      &:hover
        background-color: $red
      &--facebook
        &:hover
          &::after
            background: url(../images/icons/icons.svg#facebook-light) no-repeat 0 0
      &--instagram
        &:hover
          &::after
            background: url(../images/icons/icons.svg#instagram-light) no-repeat 0 0
      &--viber
        &:hover
          &::after
            background: url(../images/icons/icons.svg#viber-light) no-repeat 0 0
