.menu
  &__link
    &:hover
      color: $bl

.navbar
  &__phone
    &:hover
      color: $red
  &__link
    &:hover
      color: $bl

.category-top
  &__link
    &:hover
      color: $bgc
  &__item
    &:hover
      background-color: $red

.category
  &__button
    &:hover
      transition: all 0.5s
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15))
  &__item
    &:hover
      transition: all 0.5s
      background-color: $red
      color: $bgc
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15))
