.pagination
  display: block
  // margin-top: 70px
  // width: 100%
  ul
    display: flex
    justify-content: center
    li
      margin: 0 4px
      font-family: 'Montserrat-Medium', sans-serif
      font-weight: 500
      font-size: 18px
      line-height: 1
      color: $text
      width: 44px
      span
        display: block
        padding: 11px 15px
        border-radius: 5px
      span.current
        border: 2px solid $red
        color: $bgc
        font-weight: 700
        background-color: $red
      a
        border: 2px solid transparent
        border-radius: 5px
        display: block
        padding: 11px 15px
        transition: color 0.2s ease-in, border 0.2s ease-in
        &.next,
        &.prev
          font-size: 22px
        @media (any-hover: hover)
          &:hover
            color: $red
            border: 2px solid $red

