.tophead
  margin-bottom: 70px
  &-slider__item
    border-radius: 0 0 10px 10px
    overflow: hidden

.swiper-pagination-bullet
  width: 10px
  height: 10px
  background-color: transparent
  border: 1px solid $bgc
  opacity: 1
  &-active
    background: $bl
    border: 1px solid $bl
