.tophead
  &__category
    border-bottom: 1px solid $bll

.category-top
  &__list
    display: flex
    // justify-content: space-between
    align-items: center
  &__item
    cursor: pointer
    border-left: 1px solid $bll
    &:last-child
      border-right: 1px solid $bll
  &__link
    padding: 15px 24px
    display: flex
    align-items: center
    font-family: 'Raleway-Regular'
    font-weight: 400
    font-size: 18px
    line-height: 20px
    color: $black
    text-transform: uppercase
  &__link picture
    height: 20px
  &__img
    height: 20px
    display: inline-block
    margin-right: 7px
