@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.navbar__phone,
.top__basket-title,
.category__button,
.category__link {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2E2E2E;
}

.top__search-input::-webkit-input-placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::-moz-placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input:-ms-input-placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::-ms-input-placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgba(53, 64, 83, 0.5);
}

html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.button {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2E2E2E;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.heading {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #354053;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  position: relative;
}

.navbar__phone {
  padding-left: 25px;
  font-weight: 700;
}

.navbar__phone::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/icons/phone-border.svg) no-repeat 0 0;
  width: 20px;
  height: 20px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  color: #2E2E2E;
}

.navbar__item-lang {
  margin-right: 5px;
}

.navbar__item-lang:first-child::after {
  content: '|';
  padding-left: 2px;
  color: #2E2E2E;
}

.navbar__link {
  color: #2E2E2E;
  cursor: pointer;
}

.navbar__link-active {
  font-weight: 700;
}

.menu__list {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 38px;
}

.menu__link {
  color: #2E2E2E;
  cursor: pointer;
}

.button {
  padding: 10px 15px;
}

.button--registration {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  background-color: #ED2228;
  color: #ffffff;
}

.top {
  padding: 18px 0;
  background-color: #F6F6F6;
  border-top: 1px solid rgba(46, 46, 46, 0.5);
  border-bottom: 1px solid rgba(46, 46, 46, 0.5);
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__logo-img {
  width: 200px;
}

.top__search-form {
  height: 40px;
  width: 464px;
  position: relative;
}

.top__search-input {
  background-color: #ffffff;
  border: none;
  padding: 12px 105px 12px 25px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.top__search-input::-webkit-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::-moz-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input:focus {
  border: 1px solid #ED2228;
}

.top__search-button {
  position: absolute;
  background-color: #ED2228;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 75px;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}

.top__basket-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
}

.top__basket-info::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(../images/icons/cart-top.svg) no-repeat 0 0;
  width: 20px;
  height: 20px;
}

.top__basket-title {
  line-height: 18px;
}

.top__basket-total {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.category-top {
  border-bottom: 1px solid rgba(46, 46, 46, 0.5);
}

.category-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-top__item {
  cursor: pointer;
  border-left: 1px solid rgba(46, 46, 46, 0.5);
}

.category-top__item:last-child {
  border-right: 1px solid rgba(46, 46, 46, 0.5);
}

.category-top__link {
  padding: 14px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway-Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #2E2E2E;
}

.category-top__link picture {
  height: 15px;
}

.category-top__img {
  height: 15px;
  display: inline-block;
  margin-right: 6px;
}

.tophead {
  margin-bottom: 70px;
}

.tophead-slider__item {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #354053;
  border: 1px solid #354053;
}

.category {
  background: #F6F6F6 url(../images/icons/engine.svg) no-repeat center center;
  padding: 50px 0;
}

.category__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.category__title {
  position: relative;
}

.category__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #ED2228;
}

.category__button {
  position: relative;
  background-color: #ED2228;
  padding: 0 46px 0 32px;
  border-radius: 20px;
  font-weight: 700;
  color: #ffffff;
  height: 56px;
}

.category__button::before {
  content: '';
  position: absolute;
  top: 22px;
  right: 34px;
  width: 8px;
  height: 12px;
  background: url(../images/icons/arrow-left-btn.svg) no-repeat 0 0;
}

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 366px;
  height: 107px;
  background: #ffffff;
  color: #354053;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 23px;
  margin-bottom: 20px;
}

.category__item:not(:nth-child(3n+3)) {
  margin-right: 20px;
}

.category__image {
  height: 90px;
}

.category__link {
  margin-left: 55px;
  font-weight: 700;
  color: inherit;
}

.menu__link:hover {
  color: #354053;
}

.navbar__phone:hover {
  color: #ED2228;
}

.navbar__link:hover {
  color: #354053;
}

.category-top__link:hover {
  color: #ffffff;
}

.category-top__item:hover {
  background-color: #ED2228;
}

.category__button:hover {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
}

.category__item:hover {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ED2228;
  color: #ffffff;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.15));
}