@charset "UTF-8";

@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body,
.good-info__exist-yes,
.good-info__exist-no,
.characteristics__text,
.characteristics__element {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.link__button,
.navbar__phone,
.top__basket-title,
.category__name,
.product__title,
.product__price,
.news__title,
.good-info__btn-cart {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #2E2E2E;
}

.top__search-input::-webkit-input-placeholder {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::-moz-placeholder {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input:-ms-input-placeholder {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::-ms-input-placeholder {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::placeholder,
.catalog__filter-item button {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.news__link {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 24px;
  color: #ffffff;
}

.brends__subtitle,
.characteristics__tab,
.characteristics__element-left,
.footer__copyright-text {
  font-family: "MuseoSansCyrl-300";
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: rgba(53, 64, 83, 0.5);
}

.aside-filter__item-title,
.filter__item-listtitle {
  font-family: "Raleway-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #354053;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgba(53, 64, 83, 0.5);
}

html,
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  outline: none;
}

a {
  color: #2E2E2E;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.unvisible {
  position: absolute;
  left: -3000px;
  overflow: hidden;
  width: 0;
  height: 0;
}

.button {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2E2E2E;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link__button {
  position: relative;
  border: none;
  background-color: #ED2228;
  padding: 16px 46px 16px 32px;
  border-radius: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
}

.link__button::before {
  content: '';
  position: absolute;
  right: 29px;
  width: 15px;
  height: 15px;
  background: url(../images/icons/icons.svg#arrow-left-btn) no-repeat 0 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.heading {
  position: relative;
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #354053;
}

.heading::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 1px;
  background-color: #ED2228;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar__info {
  position: relative;
}

.navbar__phone {
  padding-left: 30px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__phone::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/icons/icons.svg#phone-border) no-repeat 0 0;
  width: 25px;
  height: 25px;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__item {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  color: #2E2E2E;
}

.navbar__item-lang {
  margin-right: 5px;
}

.navbar__item-lang:first-child::after {
  content: '|';
  padding-left: 2px;
  color: #2E2E2E;
}

.navbar__item a {
  color: #2E2E2E;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__item a._active {
  font-weight: 700;
}

.menu__list {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item a {
  position: relative;
  color: #2E2E2E;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.menu__item a::before {
  content: '';
  position: absolute;
  width: 0;
  background-color: #354053;
  height: 2px;
  bottom: -11px;
}

.menu__item:not(:last-child) {
  margin-right: 38px;
}

.button {
  padding: 10px 15px;
}

.button--entry {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.button--registration {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  background-color: #ED2228;
  color: #ffffff;
}

.top {
  padding: 18px 0;
  background-color: #F6F6F6;
  border-top: 1px solid rgba(46, 46, 46, 0.5);
  border-bottom: 1px solid rgba(46, 46, 46, 0.5);
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__logo-img {
  width: 200px;
}

.top__search-form {
  height: 40px;
  width: 464px;
  position: relative;
}

.top__search-input {
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: 12px 105px 12px 25px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.top__search-input::-webkit-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::-moz-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input:focus {
  border: 1px solid #ED2228;
}

.top__search-button {
  position: absolute;
  background-color: #ED2228;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 75px;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}

.top__basket-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
}

.top__basket-info::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(../images/icons/icons.svg#cart-top) no-repeat -2px 4px;
  width: 25px;
  height: 25px;
}

.top__basket-info:hover {
  color: #ED2228;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.top__basket-title {
  line-height: 18px;
  color: inherit;
}

.top__basket-total {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.category-top {
  border-bottom: 1px solid rgba(46, 46, 46, 0.5);
}

.category-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-top__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
  border-left: 1px solid rgba(46, 46, 46, 0.5);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.category-top__item:last-child {
  border-right: 1px solid rgba(46, 46, 46, 0.5);
}

.category-top__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 16px;
  font-family: 'Raleway-Regular';
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #2E2E2E;
}

.category-top__link picture {
  height: 15px;
}

.category-top__img {
  height: 19px;
  width: 25px;
  display: inline-block;
  margin-right: 3px;
  fill: #354053;
}

.tophead {
  margin-bottom: 70px;
}

.tophead-slider {
  height: 275px;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.tophead-slider__item {
  height: 275px;
  position: relative;
  overflow: hidden;
}

.tophead-slider__item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.tophead__btn {
  position: absolute;
  left: 15%;
  bottom: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #ED2228;
  color: #ffffff;
  padding: 0.8rem 3.5rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #354053;
  border: 1px solid #354053;
}

.category-fon {
  background: #F6F6F6 url(../images/icons/icons.svg#engine) no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 100px;
}

.category__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.category__title {
  position: relative;
}

.category__button {
  padding: 16px 46px 16px 32px;
}

.category__button::before {
  top: 23px;
}

.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__item {
  width: 366px;
  height: 107px;
  background: #ffffff;
  color: #354053;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 23px;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.category__item:not(:nth-child(3n+3)) {
  margin-right: 20px;
}

.category__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.category__img {
  height: 85px;
  width: 97px;
}

.category__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.category__name {
  margin-left: 55px;
  font-weight: 700;
}

.category__wrapper {
  padding-bottom: 100px;
}

.category__heading {
  margin-bottom: 30px;
}

.category__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 40px;
  margin: 0 -12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__card {
  padding: 0 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.category__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  border-radius: 5px;
  padding: 50px 21px;
  text-align: center;
  height: 100%;
}

.category__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 221px;
          flex: 0 0 221px;
  width: 221px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.category__head {
  font-family: 'Raleway-Bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #2E2E2E;
  padding: 0 14px;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.product__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 250px;
  height: 373px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #F6F6F6;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.product__labels {
  position: absolute;
  top: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__labels span {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #ED2228;
  padding: 2px 10px;
  border-radius: 0px 5px 5px 0px;
  color: #ffffff;
}

.product__new {
  background-color: #354053;
  padding: 2px 10px;
  border-radius: 0px 5px 5px 0px;
  margin-bottom: 5px;
  color: #ffffff;
}

.product__image {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.product__img {
  width: 100%;
  height: 100%;
}

.product__title {
  color: #2E2E2E;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.product__cart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.product__price {
  font-size: 20px;
  color: #354053;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__button {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #ED2228;
  border-radius: 5px;
  background: url("../images/icons/icons.svg#cart-top") no-repeat center center;
  width: 36px;
  height: 36px;
}

.favorites {
  margin-bottom: 100px;
}

.favorites__top {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.favorites__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorites__nav--left.swiper-button-prev {
  position: relative;
  height: 45px;
  width: 45px;
}

.favorites__nav--left {
  margin-right: 25px;
}

.favorites__nav--right.swiper-button-next {
  position: relative;
  height: 45px;
  width: 45px;
}

.favorites__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 420px;
  padding-left: 15px;
}

.favorites__basket {
  width: 25px;
  height: 25px;
}

.favorites-goods {
  margin-bottom: 100px;
}

.favorites-goods__title {
  margin-bottom: 20px;
}

.favorites-goods__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 250px;
  height: 373px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #F6F6F6;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.favorites__nav--left.swiper-button-prev::after {
  font-size: 17px;
  text-align: center;
  color: #ED2228;
}

.favorites__nav--right.swiper-button-next::after {
  font-size: 17px;
  text-align: center;
  color: #ED2228;
}

.favorites__nav--left.swiper-button-prev::before {
  display: none;
}

.favorites__nav--right.swiper-button-next::before {
  display: none;
}

.brends {
  margin-bottom: 100px;
}

.brends__text {
  text-align: center;
}

.brends__heading {
  margin-bottom: 5px;
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #2E2E2E;
}

.brends__subtitle {
  margin: 0 auto 30px;
  width: 562px;
}

.brends__slider {
  background-color: #F6F6F6;
  padding: 40px 15px;
  border-radius: 10px;
}

.brends__item {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news {
  margin-bottom: 100px;
}

.news__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 330px;
          flex: 0 1 330px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.news__button {
  padding: 16px 50px 16px 32px;
}

.news__button::before {
  top: 23px;
  right: 25px;
}

.news__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 270px;
          flex: 0 1 270px;
  margin-left: 20px;
}

.news__image {
  width: 270px;
  height: 321px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.news__img {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__title {
  margin-bottom: 7px;
}

.news__link {
  font-size: 12px;
  line-height: 18px;
  color: #ED2228;
  position: relative;
}

.news__link::before {
  content: '';
  position: absolute;
  top: 4px;
  right: -14px;
  width: 12px;
  height: 12px;
  background: url(../images/icons/icons.svg#arrow-left-link) no-repeat 0 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.cart {
  margin-bottom: 60px;
}

.cart__heading {
  margin-bottom: 55px;
}

.cart__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cart__info {
  width: 730px;
}

.cart__icon {
  width: 60px;
  height: 19px;
}

.cart__table thead {
  padding-bottom: 20px;
  border-style: none;
  border-bottom: 1px solid rgba(53, 64, 83, 0.1);
}

.cart__table thead tr {
  border-style: none;
}

.cart__table thead th {
  position: relative;
  font-family: "MuseoSansCyrl-500";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #2E2E2E;
  padding: 10px 20px 25px;
}

.cart__table thead th:nth-child(n+4)::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 40px;
  width: 1px;
  background-color: rgba(53, 64, 83, 0.1);
}

.cart__table tbody tr {
  border-style: none;
  border-color: transparent;
}

.cart__table tbody td {
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-family: "MuseoSansCyrl-300";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #2E2E2E;
}

.cart__table tbody td:first-child {
  padding: 0;
}

.cart__table tbody td:nth-child(n+4)::before {
  position: absolute;
  content: '';
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 40px;
  width: 1px;
  background-color: rgba(53, 64, 83, 0.1);
}

.cart__table tbody td a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.cart__table tbody td .good__quant {
  width: 100px;
}

.cart__table tbody td .good__quant input[type="number"] {
  width: 95px;
  height: 40px;
}

.cart__table tbody td .good__quant-plus {
  left: 70px;
}

.cart__table tbody td .good-info__btn-quantity {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(53, 64, 83, 0.1);
  font-size: 16px;
}

.cart__table tbody td .good__quant-btn {
  border: 1px solid rgba(53, 64, 83, 0.1);
  border-radius: 2px;
}

.cart__table-footer {
  border-top: 1px solid rgba(53, 64, 83, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway-Regular';
  font-weight: 400;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  font-size: 16px;
  color: #2E2E2E;
}

.cart__table-footer a {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.cart__table-footer--shop {
  font-size: 18px;
}

.cart__total {
  width: 380px;
  background-color: #F6F6F6;
  border-radius: 5px;
  padding: 35px 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.cart__total-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(46, 46, 46, 0.8);
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #2E2E2E;
}

.cart__total-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 5px;
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #2E2E2E;
}

.cart__total-divider {
  background-color: rgba(53, 64, 83, 0.5);
  height: 1px;
  margin-bottom: 25px;
}

.cart__total-right {
  font-weight: 300;
  font-size: 16px;
}

.cart__total-btn {
  display: block;
  text-align: center;
  background-color: #ED2228;
  border-radius: 5px;
  width: 100%;
  color: #ffffff;
  padding: 16px;
  text-transform: uppercase;
  font-family: "Raleway-Medium";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.cart__update {
  margin-top: 30px;
  text-align: right;
}

.cart__update-btn {
  background-color: #ED2228;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px;
}

.breadcrumbs {
  background-color: #F6F6F6;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 70px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs__list a {
  color: rgba(46, 46, 46, 0.5);
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.breadcrumbs__list:last-child {
  color: #2E2E2E;
}

.pagination {
  display: block;
  margin-top: 70px;
  width: 100%;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-list__item {
  padding: 11px 15px;
  border: 2px solid transparent;
  margin: 0 4px;
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: rgba(53, 64, 83, 0.5);
}

.pagination-list__item.active {
  border: 2px solid #ED2228;
  color: #ED2228;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}

.pagination-list__item a {
  display: block;
}

.good {
  margin-bottom: 80px;
}

.good-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.good-photos__gallery {
  display: -ms-grid;
  display: grid;
  margin-right: 100px;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  row-gap: 0;
  width: 525px;
}

.good-photos__big {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  position: relative;
  width: 400px;
  height: 400px;
  padding: 15px;
  margin-right: 25px;
  border-radius: 5px;
  border: 2px solid rgba(237, 34, 40, 0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.good-photos__small {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin-right: 25px;
  border-radius: 5px;
  border: 2px solid rgba(237, 34, 40, 0.1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.good-photos__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.good-info__title {
  margin-bottom: 50px;
  font-size: 38px;
  line-height: 42px;
}

.good-info__title::before {
  height: 0px;
  background-color: none;
}

.good-info__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.good-info__exist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 200px;
          flex: 1 0 200px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  padding: 42px 30px 26px 20px;
  margin-right: 30px;
}

.good-info__exist-img {
  width: 24px;
  height: 24px;
}

.good-info__exist-yes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -18px;
  left: 30px;
  padding: 5px 13px;
  color: #48943C;
  font-size: 16px;
  border-radius: 5px;
  background: #F4FAF6;
  z-index: 3;
}

.good-info__exist-no {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -18px;
  left: 30px;
  padding: 5px 13px;
  color: rgba(46, 46, 46, 0.5);
  font-size: 16px;
  border-radius: 5px;
  background: #F6f6f6;
  z-index: 3;
}

.good-info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.good-info__price bdi {
  color: rgba(46, 46, 46, 0.25);
  font-family: 'MuseoSansCyrl-700', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  color: #2E2E2E;
  text-decoration: none;
}

.good-info__price del {
  margin-bottom: -5px;
}

.good-info__price del bdi {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.12;
  color: rgba(46, 46, 46, 0.5);
  text-align: end;
}

.good-info__price ins {
  text-decoration: none;
}

.good-info__price ins bdi {
  color: #ED2228;
}

.good-info__price .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.good-info__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  padding: 25px 30px;
}

.good-info__about span:not(:last-child) {
  margin-bottom: 10px;
}

.good-info__about span {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: rgba(46, 46, 46, 0.5);
}

.good-info__about span a {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #ED2228;
}

.good-info__about span.sku {
  font-weight: 700;
  color: #354053;
}

.good-info__form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}

.good-info__form input[type="number"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  line-height: 22px;
  width: 160px;
  padding: 0;
  margin: 0;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
  border: none;
  background: #F6F6F6;
}

.good-info__form input[type="number"]::-webkit-outer-spin-button,
.good-info__form input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.good-info__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 160px;
  margin: 0 auto;
}

.good-info__quantity-grup {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ED2228;
  outline: none;
  width: 50px;
  border-radius: 5px 0 0 5px;
}

.good-info__quantity-grup-plus {
  right: 0;
  border-radius: 0 5px 5px 0;
}

.good-info__quantity-grup-cart {
  width: 35px;
}

.good-info__quantity-cart {
  height: 35px;
}

.good-info__quantity-btn {
  padding: 0;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  height: 100%;
  width: 100%;
  border: none;
  background-color: #ED2228;
}

.good-info__input {
  text-align: center;
  border: none;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  color: #2E2E2E;
  overflow: hidden;
}

.good-info__input-cart {
  height: 100%;
  background-color: #F6F6F6;
  font-size: 18px;
  padding: 0 45px;
  width: 100px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.good-info__btn-img {
  height: 28px;
  width: 28px;
  display: inline-block;
  margin-right: 7px;
}

.good-info__btn-cart {
  background: #ED2228;
  border-radius: 3px;
  height: 50px;
  padding: 0 30px;
  margin-left: 35px;
  border: none;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.good-info__btn-cart::before {
  content: none;
}

.good-favorites__heading {
  font-size: 24px;
}

.characteristics {
  margin-bottom: 100px;
}

.characteristics__wrapper {
  background-color: #F6F6F6;
  padding-top: 70px;
  padding-bottom: 100px;
}

.characteristics__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.characteristics__tab {
  padding: 15px 60px;
  cursor: pointer;
}

.characteristics__tab_active {
  font-family: "MuseoSansCyrl-500";
  font-weight: 500;
  color: #354053;
  background-color: #F6F6F6;
  border-radius: 5px 5px 0 0;
}

.characteristics__info {
  display: none;
}

.characteristics__info_active {
  display: block;
}

.characteristics__text:not(:last-child) {
  margin-bottom: 30px;
}

.characteristics__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(46, 46, 46, 0.1);
}

.characteristics__element-right {
  font-family: "MuseoSansCyrl-500";
  font-weight: 500;
  color: #2E2E2E;
}

.catalog {
  margin-bottom: 100px;
}

.catalog__heading {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 24px;
}

.catalog__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.catalog__filter-item button {
  position: relative;
  font-size: 14px;
  color: rgba(53, 64, 83, 0.5);
  padding: 5px 33px 5px 17px;
  background: #ffffff;
  border: 1px solid rgba(46, 46, 46, 0.25);
  border-radius: 15px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.catalog__filter-item button::before {
  position: absolute;
  content: '';
  top: 1px;
  right: 5px;
  width: 24px;
  height: 24px;
  background: url(../images/iconsprite/circle-x.svg) no-repeat 0 0;
}

.catalog__filter-item button + button {
  margin-left: 10px;
}

.catalog__filter-btn button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.catalog__filter-btn button + button {
  margin-left: 10px;
}

.catalog__filter-select {
  border: 1px solid #F6F6F6;
  padding: 8px 10px 7px;
  margin-right: 35px;
  outline: none;
  font-size: 15px;
  line-height: 1.1;
}

.catalog__filter-btngrid {
  height: 26px;
  width: 25px;
  opacity: 0.3;
  outline: none;
}

.catalog__filter-btnline {
  opacity: 0.3;
  outline: none;
}

.catalog__filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__filter-btn--active {
  opacity: 1;
}

.catalog__item {
  margin-right: 0;
  margin-bottom: 30px;
  width: 253px;
  -webkit-transition: all 1.5s step-start;
  -o-transition: all 1.5s step-start;
  transition: all 1.5s step-start;
}

.catalog__item-left {
  margin-right: 0px;
}

.catalog__item-left--line {
  margin-right: 30px;
}

.catalog__item-right {
  width: 100%;
}

.catalog__item-right--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: auto;
}

.catalog__item--line {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding: 0px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s step-start;
  -o-transition: all 0.5s step-start;
  transition: all 0.5s step-start;
}

.catalog__item--line-remove {
  display: none;
  width: 0;
  height: 0;
}

.catalog__item--line-title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: left;
}

.catalog__item--line-code {
  display: none;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 30px 0 0;
  margin-left: 30px;
  font-size: 18px;
  line-height: 36px;
  color: #2E2E2E;
  -webkit-transition: all 0.5s step-start;
  -o-transition: all 0.5s step-start;
  transition: all 0.5s step-start;
}

.catalog__item--line-code::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: -30px;
  width: 2px;
  background-color: rgba(53, 64, 83, 0.5);
}

.catalog__item--line-code.show {
  display: inline-block;
}

.catalog__item--line-brend {
  display: none;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 30px 0 0;
  margin-left: 30px;
  font-size: 18px;
  line-height: 36px;
  color: #2E2E2E;
}

.catalog__item--line-brend::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: -30px;
  width: 2px;
  background-color: rgba(53, 64, 83, 0.5);
}

.catalog__item--line-brend.show {
  display: inline-block;
}

.catalog__item--line-cart {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 0;
  width: auto;
  margin-left: 30px;
}

.catalog__item--line-cart::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: -30px;
  width: 2px;
  background-color: rgba(53, 64, 83, 0.5);
}

.catalog__item--line-button {
  margin-left: 30px;
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__inner-aside {
  min-width: 290px;
  margin-right: 30px;
}

.catalog__inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__inner-list .catalog__wrapper {
  margin-bottom: 30px;
}

.aside-filter__title {
  font-family: "Montserrat-Bold";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #354053;
}

.aside-filter__title span {
  display: inline-block;
  padding-bottom: 7px;
  border-bottom: 2px solid #ED2228;
  padding-right: 20px;
}

.aside-filter__form {
  margin: 40px 0;
}

.aside-filter__item-drop {
  margin-bottom: 30px;
}

.aside-filter__item-title {
  padding-left: 22px;
}

.aside-filter__item-list {
  margin: 46px 0 40px;
}

.aside-filter__item-btn {
  text-align: center;
}

.aside-filter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 14px;
}

.aside-filter__content-box {
  width: 50%;
  margin-bottom: 10px;
}

.aside-filter__content-label {
  cursor: pointer;
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #354053;
}

.filter__item-drop {
  position: relative;
  cursor: pointer;
}

.filter__item-drop::before {
  content: '';
  position: absolute;
  background-image: url(../images/icons/icons.svg#arrow-left-link);
  top: 4px;
  left: 0px;
  width: 15px;
  height: 11px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.filter__item-drop--active::before {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.filter__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 7px;
  border-bottom: 2px solid #C4C4C4;
}

.filter__item-listtitle {
  padding-left: 22px;
}

.filter__item-listselect {
  font-size: 14px;
  line-height: 17px;
  color: #354053;
  font-family: 'Montserrat-Medium', sans-serif;
}

.filter-more {
  width: 100%;
  line-height: 18px;
}

.filter-more__btn {
  font-size: 14px;
  line-height: 17px;
  color: #ED2228;
  border: none;
  border-bottom: 1px solid #ED2228;
  background: transparent;
  padding: 0;
}

.filter-btn__send {
  padding: 16px 85px;
  background: #F6F6F6;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: rgba(46, 46, 46, 0.5);
  margin-bottom: 15px;
}

.filter-btn__send--active {
  background: #ED2228;
  color: #ffffff;
}

.filter-btn__reset {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  color: rgba(46, 46, 46, 0.5);
  border-bottom: 1px solid rgba(46, 46, 46, 0.5);
}

.jq-checkbox,
.jq-radio {
  background: #ffffff;
  border: 1px solid #C4C4C4;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 14px;
  width: 14px;
  vertical-align: -2px;
  border-radius: 2px;
}

.jq-checkbox.checked,
.jq-raido.checked {
  border: 1px solid #ED2228;
  background: #ED2228;
  border-radius: 0;
}

.jq-checkbox.checked .jq-checkbox__div {
  height: 6px;
  margin-left: 2px;
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  background-image: url(../images/iconsprite/checked.svg);
}

.jq-selectbox__select {
  height: 20px;
  padding: 0 28px 0 0;
  border: none;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #354053;
}

.jq-selectbox__select:hover {
  background: transparent;
}

.jq-selectbox__select:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox__trigger {
  background-image: url(../images/icons/icons.svg#arrow-left-link);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 4px;
  right: 8px;
  width: 15px;
  height: 11px;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border: none;
}

.jq-selectbox__dropdown {
  border-radius: 0;
  border: none;
  margin: 0;
  margin-top: 7px;
  padding-top: 15px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.catalog__filter-select .jq-selectbox__dropdown {
  width: auto;
}

.jq-selectbox__select-text {
  text-align: end;
}

.jq-selectbox li {
  color: rgba(53, 64, 83, 0.5);
  text-align: end;
}

.jq-selectbox li.selected {
  background: rgba(107, 126, 172, 0.05);
  color: #354053;
}

.jq-selectbox li:hover {
  background: rgba(107, 126, 172, 0.05);
  color: #354053;
}

.irs--flat {
  width: 100%;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 60px;
  font-family: "Montserrat-Medium", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #354053;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  padding-left: 27px;
  visibility: visible !important;
}

.irs-min::before,
.irs-max::before {
  position: absolute;
  line-height: 17px;
  font-size: 14px;
  color: #C4C4C4;
  text-decoration: none;
  left: 0;
}

.irs-min::before {
  content: "от";
}

.irs-max::before {
  content: "до";
}

.irs--flat .irs-line {
  height: 5px;
  color: #F6F6F6;
}

.irs--flat .irs-bar {
  top: 24px;
  height: 7px;
  background-color: #ED2228;
}

.irs--flat .irs-handle {
  top: 21px;
  background-color: #ED2228;
  height: 13px;
  width: 13px;
  border-radius: 50%;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: white;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 10px;
  line-height: 1.33;
  text-shadow: none;
  padding: 2px 5px;
  background-color: #ED2228;
  border-radius: 2px;
}

.irs--flat .irs-handle > i:first-child {
  background-color: #ED2228;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #ED2228;
}

.footer__content {
  background-color: #354053;
}

.footer__wrapper {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__item:not(:last-child) {
  margin-right: 63px;
}

.footer__logo {
  display: block;
  width: 200px;
  margin-bottom: 50px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  display: block;
  position: relative;
  width: 39px;
  height: 39px;
  border-radius: 10px;
  background-color: #F6F6F6;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social-link::after {
  content: '';
  position: absolute;
  top: 9px;
  right: 4px;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social-link--facebook::after {
  background: url(../images/icons/icons.svg#facebook-dark) no-repeat 0 0;
}

.footer__social-link--instagram::after {
  background: url(../images/icons/icons.svg#instagram-dark) no-repeat 0 0;
}

.footer__social-link--viber::after {
  background: url(../images/icons/icons.svg#viber-dark) no-repeat 0 0;
}

.footer__heading {
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__list-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: #F6F6F6;
}

.footer__list a {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #F6F6F6;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__list a svg {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__link-hour {
  font-size: 16px;
  color: #F6F6F6;
}

.footer__copyright-text {
  text-align: center;
  padding: 20px 0px;
  font-size: 16px;
  color: rgba(53, 64, 83, 0.5);
}

.modal-header {
  background-color: #F6F6F6;
}

.modal-footer {
  background-color: #F6F6F6;
}

.modal-title {
  color: #2E2E2E;
}

.modal-table {
  color: #2E2E2E;
  border-color: rgba(46, 46, 46, 0.1);
}

.modal-body img {
  max-width: 100px;
}

.modal-link {
  color: #2E2E2E;
}

.modal-link:hover {
  color: #ED2228;
}

.modal__button-go {
  background-color: #354053;
  color: #ffffff;
  border-radius: 5px;
}

.modal__button-order {
  background-color: #ED2228;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 700;
}

@media (min-width: 992px) {
  .menu__item a:hover {
    color: #354053;
  }

  .menu__item a:hover::before {
    width: 100%;
    right: auto;
    left: 0;
  }

  .navbar__phone:hover {
    color: #ED2228;
  }

  .navbar__item a:hover {
    color: #ED2228;
  }

  .button--entry:hover {
    color: #ED2228;
  }

  .breadcrumbs__list a:hover {
    color: #354053;
  }

  .category-top__item:hover {
    background-color: #ED2228;
  }

  .category-top__item:hover .category-top__img {
    fill: #fff;
  }

  .category-top__item a:hover {
    color: #ffffff;
  }

  .category__item:hover {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
    -webkit-filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15));
            filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15));
    background-color: #ED2228;
    color: #ffffff;
  }

  .category__item:hover .category__name {
    color: #ffffff;
  }

  .category__card:hover {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15));
            filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15));
  }

  .category__card:hover .category__icon {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }

  .category__card:hover .category__head {
    color: #ED2228;
  }

  .link__button:hover {
    color: #ffffff;
  }

  .link__button:hover::before {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    right: 22px;
  }

  .product__item:hover {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15));
            filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15));
    color: #ED2228;
  }

  .product-goods__item:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15));
            filter: drop-shadow(3px 3px 10px rgba(50, 50, 50, 0.15));
    color: #ED2228;
  }

  .product__button:hover {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #ED2228 url("../images/icons/icons.svg#cart-white") no-repeat center center;
    width: 36px;
    height: 36px;
  }

  .product__item:hover .product__title,
  .product__item:hover .product__price,
  .product-goods__item:hover .product__title {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #ED2228;
  }

  .favorites__nav--left.swiper-button-prev:hover {
    -webkit-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: #ED2228;
    border-radius: 50%;
  }

  .favorites__nav--left.swiper-button-prev:hover::after {
    color: #ffffff;
  }

  .favorites__nav--right.swiper-button-next:hover {
    -webkit-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
    background-color: #ED2228;
    border-radius: 50%;
  }

  .favorites__nav--right.swiper-button-next:hover::after {
    color: #ffffff;
  }

  .news__item:hover .news__img {
    -webkit-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .news__link:hover {
    color: #ED2228;
  }

  .news__link:hover::before {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    right: -20px;
  }

  .news__button:hover::before {
    right: 18px;
  }

  .good-photos__big:hover {
    border: 2px solid #ed2228;
  }

  .good-photos__small:hover {
    border: 2px solid #ed2228;
  }

  .good-photos__img:hover {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }

  .good-info__about a::before {
    content: '';
    position: absolute;
    width: 0;
    left: auto;
    background-color: #ED2228;
    height: 2px;
    bottom: -3px;
    right: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }

  .good-info__about a:hover {
    color: #ED2228;
  }

  .good-info__about a:hover::before {
    width: 100%;
    right: auto;
    left: 0;
  }

  .good-info__btn-cart:hover {
    background-color: #cb1116;
  }

  .good-info__btn-cart:hover::before {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .catalog__filter-item button:hover {
    background: #F6F6F6;
  }

  .pagination-list__item a:hover {
    color: #ED2228;
  }

  .cart__total-btn:hover {
    background-color: #cb1116;
  }

  .cart__table a:hover {
    color: #ED2228;
  }

  .cart__table-footer a:hover {
    color: #ED2228;
  }

  .footer__list-item a:hover {
    color: #ED2228;
  }

  .footer__list-item a:hover svg {
    fill: #ED2228;
  }

  .footer__social-link:hover {
    background-color: #ED2228;
  }

  .footer__social-link--facebook:hover::after {
    background: url(../images/icons/icons.svg#facebook-light) no-repeat 0 0;
  }

  .footer__social-link--instagram:hover::after {
    background: url(../images/icons/icons.svg#instagram-light) no-repeat 0 0;
  }

  .footer__social-link--viber:hover::after {
    background: url(../images/icons/icons.svg#viber-light) no-repeat 0 0;
  }
}