@font-face {
  font-family: "MuseoSansCyrl-300";
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  src: url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'MuseoSansCyrl-500', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.navbar__phone,
.top__basket-title {
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2E2E2E;
}

.top__search-input::-webkit-input-placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::-moz-placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input:-ms-input-placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::-ms-input-placeholder {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.top__search-input::placeholder,
.top__search-button {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  color: rgba(53, 64, 83, 0.5);
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

input {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2E2E2E;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  position: relative;
}

.navbar__phone {
  padding-left: 25px;
  font-weight: 700;
}

.navbar__phone::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  background: url(../images/icons/phone-border.svg) no-repeat 0 0;
  width: 20px;
  height: 20px;
}

.navbar__item {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2E2E2E;
}

.navbar__item-lang {
  margin-right: 5px;
}

.navbar__item-lang:first-child::after {
  content: '|';
  padding-left: 2px;
  color: #2E2E2E;
}

.navbar__link {
  color: #2E2E2E;
  cursor: pointer;
}

.navbar__link-active {
  font-weight: 700;
}

.menu__list {
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 38px;
}

.menu__link {
  color: #2E2E2E;
  cursor: pointer;
}

.button {
  padding: 10px 15px;
}

.button__registration {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  background-color: #ED2228;
  color: #ffffff;
}

.top {
  padding: 18px 0;
  background-color: #F6F6F6;
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__logo-img {
  width: 200px;
}

.top__search-form {
  height: 40px;
  width: 464px;
  position: relative;
}

.top__search-input {
  background-color: #ffffff;
  border: none;
  padding: 12px 105px 12px 25px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.top__search-input::-webkit-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::-moz-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input:-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::-ms-input-placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-input::placeholder {
  color: rgba(46, 46, 46, 0.5);
}

.top__search-button {
  position: absolute;
  background-color: #ED2228;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  top: 0;
  right: 0;
  height: 100%;
  padding: 12px 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.top__basket-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
}

.top__basket-info::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: url(../images/icons/cart-top.svg) no-repeat 0 0;
  width: 20px;
  height: 20px;
}

.top__basket-title {
  font-size: 16px;
}

.top__basket-total {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.menu__link:hover {
  color: #354053;
}

.navbar__phone:hover {
  color: #ED2228;
}

.navbar__link:hover {
  color: #354053;
}